<p-card header="Recherche" styleClass="mb-1 p-card-sm ">
    <ng-template pTemplate="left">
        <div class="row mb-1">
            <div class="col-lg-3">
                <input type="text" placeholder="Nom" pInputText [(ngModel)]="bodySearch.lname" />
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="Prénom" pInputText [(ngModel)]="bodySearch.fname" />
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="Téléphone" pInputText [(ngModel)]="bodySearch.phone" />
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="Email" pInputText [(ngModel)]="bodySearch.email" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p-button label="Rechercher" icon="pi pi-search" (click)="searching()"></p-button>
            </div>
        </div>
    </ng-template>
</p-card>

<p-toolbar styleClass="mb-1 p-toolbar-sm">
    <ng-template pTemplate="left">
        <p-button label="Noveaux" icon="pi pi-plus" class="p-mr-2" styleClass="p-button-success " (click)="onEdit()"></p-button>
    </ng-template>
</p-toolbar>

<p-table [value]="users" [lazy]="true" (onLazyLoad)="searching($event)" dataKey="id" styleClass="p-datatable p-datatable-sm  p-component" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" sortField="users.lname" sortOrder="-1"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="fname">Name
                <p-sortIcon field="fname"></p-sortIcon>
            </th>
            <th pSortableColumn="email">Email
                <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="phone">Téléphone
                <p-sortIcon field="phone"></p-sortIcon>
            </th>
            <th pSortableColumn="cities.id">Adresse
                <p-sortIcon field="city"></p-sortIcon>
            </th>
            <!--<th pSortableColumn="roles.id">rôle<p-sortIcon field="role"></p-sortIcon></th>-->
            <th pSortableColumn="date_birth">Naissance
                <p-sortIcon field="date_birth"></p-sortIcon>
            </th>
            <th style="width:12rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="role">
            <td> {{user.fname}} {{user.lname}} </td>
            <td>{{user.email}}</td>
            <td> {{user.phone}}</td>
            <td> {{user.address}}, {{user.city}},{{user.country}} </td>
            <!--<td>{{user.role_name}}</td>-->
            <td>{{user.date_birth}}</td>
            <td style="text-align:center">
                <button pButton pRipple type="button" pInitEditableRow icon="pi pi-unlock" pTooltip="Générer mot de passe pour ce utilisateur" (click)="onEditPassword(user)" class="p-button-rounded p-button-sm p-button-success p-mr-2"></button>
                <button pButton pRipple type="button" pInitEditableRow icon="pi pi-user-edit" pTooltip="Modifer" (click)="onEdit(user)" class="p-button-rounded p-button-sm  p-button-success p-mr-2"></button>
                <button pButton pRipple type="button" pInitEditableRow icon="pi pi-tags" pTooltip="Modifer rôle" (click)="onEditUserRole(user)" class="p-button-rounded p-button-sm p-button-success p-mr-2"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-sm p-button-warning" pTooltip="Supprime" (click)="onUserDelete(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmPopup></p-confirmPopup>
<p-toast position="bottom-right"></p-toast>
<p-confirmPopup></p-confirmPopup>

<p-dialog [(visible)]="showUserFormDialog" [style]="{width: '650px',height:'auto'}" header="Details utilisateur" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form class="" [formGroup]="formUser">
            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name"> Pays</label>
                        <span class="p-input-icon-right">
                                <i class="pi pi-angle-down"></i>
                                  <select class="p-inputtext" formControlName="id_country" (change)="onChangeConntry($event.target.value)">
                                    <option *ngFor="let conutry of countries" value="{{ conutry.id }}">{{ conutry.name }}</option>
                                  </select>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name">Ville</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-angle-down"></i>
                                  <select class=" p-inputtext" formControlName="id_city" >
                                    <option *ngFor="let city of cities" value="{{ city.id }}">{{ city.name }}</option>
                                  </select>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name" class="p-inputtext-sm">Nom</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-user"></i>
                                  <input type="text" pInputText formControlName="lname"/>
                         </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name">Prenom</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-user"></i>
                                  <input type="text" pInputText formControlName="fname"/>
                              </span>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name" class="p-inputtext-sm">Téléphone</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-phone"></i>
                                  <input type="text" pInputText formControlName="phone" />
                              </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name">Email</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-envelope"></i>
                                  <input type="text" pInputText formControlName="email" />
                              </span>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="p-field">
                        <label>Travail chez entreprise</label>
                        <p-dropdown [options]="entreprise" optionValue="id" optionLabel="name" formControlName="id_entreprise"></p-dropdown>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="p-field">
                        <label for="name">Adresse</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-user"></i>
                                  <span class="p-input-icon-right">
                                      <i class="pi pi-user"></i>
                                      <input type="text" pInputText formControlName="address" />
                                  </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name">Date de naissance</label>
                        <p-calendar styleClass="p-calendar-sm" dateFormat="yy/mm/dd" [focusTrap]="false" [disabledDates]="invalidDates" formControlName="date_birth" [showIcon]="true" styleClass="p-datepicker-current-day p-calendar-sm"></p-calendar>
                    </div>
                </div>
                <div class="col-lg-6" *ngIf="isNewUser">
                    <div class="p-field">
                        <label for="name">Mot de passe</label>
                        <span class="p-input-icon-right">
                                  <i class="pi pi-user"></i>
                                  <input pPassword type="password" strongLabel="fort" mediumLabel="medium" weakLabel="faible" promptLabel="saissi mot de passe" formControlName="password"/>
                              </span>
                        <p-button label="Générer mot de passe" icon="pi pi-check" iconPos="left" (click)="genererPswrd()"></p-button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="showUserFormDialog=false"></button>
        <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)='isNewUser ? create() : update()'></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showUserRoleFormDialog" [style]="{width: '650px',height:'auto'}" header="Details rôle utilisateur" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!--<div class="row" *ngFor="let role of roles">
            <div class="col-lg-6">
                <label for="name">{{role.name}} </label>
            </div>
            <div class="col-lg-6">
                <div class="p-field">
                    <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="role.isActive">
                        <ng-template pTemplate="content">

                        </ng-template>
                    </p-inputSwitch>
                </div>
            </div>
        </div>-->
        <div *ngFor="let role of roles" class="p-field-checkbox">
            <p-radioButton [inputId]="role.id" name="role" [value]="role" [(ngModel)]="id_role"></p-radioButton>
            <label [for]="role.id">{{role.name}}{{role.id}}</label>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="showUserRoleFormDialog=false"></button>
        <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)='updateRole()'></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showUserPasswordFormDialog" [style]="{width: '650px',height:'auto'}" header="Mot de passe utilisateur" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form class="" [formGroup]="formPassworUser">
            <div class="row mb-12">
                <div class="col-lg-6">
                    <div class="p-field">
                        <label for="name">Mot de passe</label>
                        <span class="p-input-icon-right">
                              <i class="pi pi-user"></i>
                              <input pPassword type="password" strongLabel="fort" mediumLabel="medium" weakLabel="faible" promptLabel="saissi mot de passe" formControlName="password"/>
                          </span>
                        <p-button label="Générer mot de passe" icon="pi pi-check" iconPos="left" (click)="genererPswrd()"></p-button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="showUserPasswordFormDialog=false"></button>
        <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)='updatePassword()'></button>
    </ng-template>
</p-dialog>