// Here you can add other styles
body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.hidden{
  display: none;
}
/*
input[type="text"],input[type="password"],input[type="email"],input[type="number"],.p-multiselect-label-container{
  height: 29px !important;
}

button{
    font-size: 0.875rem !important;
    padding: 0.4375rem 0.875rem !important;
}

select{
    height: 37px !important;
}
*/
